* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.container {
    background-color: #d1d1d1;
    max-width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

.task-input, .error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.input-task {
    border: none;
    width: calc(100% - 50px); /* Alterado para ocupar o restante do espaço disponível */
    max-width: 300px; /* Limita a largura máxima */
    height: 40px;
    padding-left: 10px;
}

.button-add-task {
    border: none;
    height: 40px;
    width: 40px; /* Tamanho reduzido */
    background-color: #003329;
    color: #ffffff;
    font-size: 17px;
    cursor: pointer;
    font-weight: 700;
    margin-left: 10px; /* Espaçamento entre o input e o botão */
}

.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.task {
    background-color: #F2F2F2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task:hover {
    background-color: #E0E0E0;
}

.task p {
    margin: 0;
}

.botoes img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.task:hover .botoes img {
    opacity: 1;
}

.done {
    background-color: #778D89;
    text-decoration: line-through;
}

.filter-buttons {
    text-align: center;
    margin-top: 25px;
}

.button-filter {
    background-color: #ffffff;
    border-color: #00271f;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dragging {
    opacity: 0.5;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca o elemento atrás do conteúdo */
    animation: animateBackground 10s infinite alternate; /* Animação alternada */
    background: linear-gradient(120deg, #d1d1d1, #003329);
}

/* Media Query para telas menores */
@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
        margin: 50px auto 0;
    }
}
